@use "base/variables" as v;
@use "base/mixins" as m;

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    font-family: v.$fuentePrincipal;
    line-height: 1.5;
}

h1{
    font-size: 4.4rem;
}

h2{
    font-size: 3.6rem;
}

h3{
    font-size: 2.8rem;
}

h1, h2, h3{
    font-family: v.$fuenteSecundaria;
    
}

img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
}

[class$= "__contenedor"]{
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

.text-center{
    text-align: center;
}

.degradado-verde{
    background: linear-gradient(to right, v.$primario 0%, v.$secundario 100%);
    background-clip: text;
    color: transparent;
}